#editor-resize-handle {
  cursor: row-resize;
  height: var(--space-3);
  background: transparent;
  position: relative;
}

#editor-resize-handle::before {
  content: "";
  inset: 40% 0 auto;
  height: var(--space-2);
  background: var(--color-border);
  position: absolute;
  transition: background 0.2s;
}

#editor-resize-handle:hover::before,
#editor-resize-handle.drag::before {
  height: var(--space-3);
  background: var(--accent);
}
