.export-dialog-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-btn.export-format-btn {
  font-weight: 400;
  color: var(--text-primary);
  background: var(--surface-card);
  justify-content: left;
  gap: 15px;
  padding: 15px 20px;
}

.export-format-btn .app-icon {
  width: 25px;
  height: 25px;
}

.export-btn-content {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.export-btn-label {
  font-size: var(--text-md);
  font-weight: 500;
  margin: 0;
  color: var(--text-primary);
}

.export-btn-description {
  font-size: var(--text-sm);
  color: var(--text-muted);
  margin: 0;
}
