#app {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas: "app-header app-header" "app-sidebar app-workspace";
  height: 100vh;
}

#app-header {
  grid-area: app-header;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  background: var(--surface-panel);
  border-bottom: 1px solid var(--border);
}

#app-sidebar {
  grid-area: app-sidebar;
  background: var(--surface-panel);
  padding: var(--scrollbar-size) 0;
  border-right: 1px solid var(--border);
}

#app-workspace {
  grid-area: app-workspace;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--surface-base);
}
